// Colors
$white: #ffffff;
$gray: #a9a9a4;
$black: #000000;

// Font sizes
$small-font: 1.6rem;
$medium-font-1: 1.8rem;
$medium-font-2: 2rem;
$medium-font: 2.4rem;
$large-font: 4.8rem;

// Fonts
$segoe-ui: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Specific
$shaded-background: #000000ab;
$shaded-background-1: #000000d2;



// Media BreakPoint
$media-types: (
  extra-small-range: '(max-width: 499px)',
  small-range: '(min-width: 500px) and (max-width: 959px)',
  medium-range: '(min-width: 960px) and (max-width: 1279px)',
  large-range: '(min-width: 1280px) and (max-width: 1919px)',
  extra-large-range: '(min-width: 1920px)'
);
