@import '../../styles/settings.scss';

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;

  &--style {
    background: $shaded-background-1;
  }

  .brand {
    margin: 0;
    margin-right: 0.5rem;

    &--style {
      font-size: $medium-font-1;
      font-weight: lighter;
      color: $white;
    }
  }

  .toggle {
    &--style {
      border-style: none;
      outline: none;
    }
  }

  .collapse__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .link {
    &--style {
      font-size: $small-font;
      font-weight: lighter;
    }
  }

  .form {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
}
